* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: #404040;
    background-image: url("../img/fundo_login.jpg");
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    padding-bottom: 30px;
    font-size: 2.6em;
    text-align: center;
}

#user {
    display: block;
    margin: auto;
    background-color: rgba(169, 169, 169, 0);
    border: 1px solid rgb(83, 83, 83);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    display: block;
    border: 1px solid rgb(83, 83, 83);
    border-right: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    width: 150px;
    border-radius: 50px 0px 0px 50px;
    padding-right: 0px;
}

button {
    display: block;
    border: 1px solid rgb(83, 83, 83);
    background-color: rgba(0, 162, 255, 0);
    padding: 0px;
    width: 190px;
    height: 55px;
    border-radius: 50px;
    margin: auto;
}

::placeholder {
    text-align: center;
    color: black;
}

#conteiner {
    width: max-content;
    margin: auto;
    margin-top: 10vw;
    padding: 70px 50px;
    border-radius: 25px;
    background-color: #3a3a3a2f;
}