

#sobre-pagina {
    text-align: center;
}
@media(min-width:1000px) {
    
#sobre-pagina {
    text-align: unset;
}
}

#sobre-pagina h1 {
    color: #7386f5;
    font-weight: bold;
    margin-bottom: 30px;
}

#container-sobre {
    margin-top: 30px;
    padding: 40px;
}

#container-sobre h3 {
    color: white;
}

#container-sobre p {
color: #b8bdcf;
}


#paodeterno {
    float: unset;
    padding: unset;
    max-width: 95%;
    margin-top: unset;
    margin: auto;
    margin-bottom: 30px;
}


@media(min-width:1000px) {
    #paodeterno {
        float: right;
        border: transparent thin solid;
        padding: 5px;
        max-width: 25%;
        margin-top: -70px;
        
    }

    
    
}

#criadores-sobre {
        float: unset;
        border: unset;
        padding: unset;
        max-width: 55%;
        margin-top: unset;
        margin: auto;
}

@media(min-width:1000px) {
    #criadores-sobre {
        float: right;
        border: transparent thin solid;
        padding: 5px;
        max-width: 25%;
        margin-top: -160px;
       
}

}

#container2-sobre {
    background-color: #1f2029;
    height: 460px;
}