@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/*
A BAIXO SE ENCONTRA A CONFIGURAÇÃO DE ANIMAÇÃO AO CARREGAR O SITE
*/
@keyframes anim-stars {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(90px);
       
    }
}


@keyframes animacao {
    from {color:#0e1015;}
    to {color:#d1d4dd}
}





header {
    background-image: url(../img/fundoheader.jpg);
    color: #d1d4dd;
    height: 600px;    
}





.container {
    text-align: center left;
    padding-top: 100px;
    animation-name: animacao;
    animation-duration: 2s;
    font-family: 'Roboto', sans-serif;
}






h1, 
h2,
p {
    font-weight: bold;
}





h1,
h2 {
    font-size: 2em;
}

@media(min-width: 420px) {
    h2 {
        font-size: 2.6em;
    }
}




p {
    color: #6d7383;
}





/*
CONFIGURAÇÕES DO NAVBAR---
*/
.navbar-brand {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    margin-left: 0;
}

.navbar-toggler {
    border: none;
}




/*
A CONFIGURÇÃO A SEGUIR É A QUE DESATIVA O ESPAÇAMENTO DA NAVBAR DA ESQUERDA PARA AJUDAR NA RESPONSIVIDADE EM TELAS MENORES QUE 422PX , 'CELULAR'
*/
@media(min-width: 422px) {
    .navbar-brand {
        margin-left: 110px;
    }
}





nav {
    border-bottom: 1px solid #2e2e31;
}





#item-nav {
    color: #d1d4dd;
    font-weight: bold;
}





button {
    border-style: none;
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    background-color: #3f444e;
    letter-spacing: 1px;
    margin-right: 10px;
    transition: 0.2s;
    margin-bottom: 10px;

}





button:hover {
    background-color: #252930;
}





#colorDIFF {
    background-color: #ffc164;
}





#colorDIFF:hover {
    background-color: #b18544;
}





b {
    color: #d1d4dd;
}




/*
AJUSTES NA ANIMAÇÃO DO CARREGAMENTO DO SITE----
*/
p,
b {
    animation-name: animacao;
    animation-duration: 3s;
}


section {
    background-color: #e9ebf1;
    padding-top: 70px;
    font-size: 1.2em;
   
}

section h3 {
    text-align: center;
    color: #b18544;
    font-size: 1.8em;
}

section p {
    text-align: center left;
    
}
.menuFixo {
    position: fixed;
    top: 0px;
    background-color:  #0b0d11;
    border-bottom: 1px solid  #2e2e31;
    
}   

.PAO {
    float: right;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 340px;
}
@media (min-width:420px){
    .PAO {
        max-width: 300px;
    }
}


#seta {
    padding-top: 40px;
    margin: auto;
    width: 50px;
}

@media(min-width:420px) {
    #seta {
        padding-top: 100px;
    }
}

.setapause{
    animation: anim-stars 1s infinite;
    animation-delay: 0.4s;
    display: block;
}

