@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body {
    background-color:  #272934;
}


/*Animações do site, SETA-CONTAINERS*/
@keyframes anim-stars {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(50px);
       
    }
}

@keyframes animacao {
    from {color:#0e1015;}
    to {color:#d1d4dd}
}

@keyframes slide {
    0%  {
        transform: scale(0, 0) translateY(0);
    }
    
    15%, 70% {
        transform: scale(1, 1) translateY(0);
    }
    
}


/* Scroll */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1c1d25;
}

::-webkit-scrollbar-thumb {
    background-color: #343644;
    border-radius: 20px;
}



header {
    /*Fundo do header para telas pequenas -1000px-*/
    background-image:  url(../img/fundoheaderM.jpg);
    color:#eff2fa;
    height: 600px;    
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:  #272934;
    background-position: center;
    
}

/*Fundo do header que ira ser aplicado em telas grandes +1000px+*/
@media(min-width: 900px) {
    header {
        background-image: url(../img/fundoheader22.png);
        text-align: unset;
}
}


#headertela {
    background-color: white;
}


.container {
    text-align: center left;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
}

@media(min-width:1000px) {
    .container {
        padding-top: 100px;
    }
}

.container h1 {
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 1.7em;
}





@media(min-width: 950px) {
    .container h1 {
        font-size: 3.3em;
    }

    .container h2 {
        font-size: 2.6em;
    }
}





p {
    color: #8a91a3;
}





/*Configuração do NAVBAR*/
.navbar-brand {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    text-shadow: 1px 1px 20px  #636b9981;
}

.navbar-toggler {
    border: none;
}





/*
A CONFIGURÇÃO A SEGUIR É A QUE DESATIVA O ESPAÇAMENTO DA NAVBAR DA ESQUERDA PARA AJUDAR NA RESPONSIVIDADE EM TELAS MENORES QUE 422PX , 'CELULAR'
*/
@media(min-width: 422px) {
    .navbar-brand {
        margin-left: 110px;
    }
}

nav {
    border-bottom: 1px solid #393c4b;
}

#item-nav {
    color: #9093a1;;
    
}

#item-nav:hover {
    color:#cacee2;;
}





.estilobutt {
    border-style: none;
    padding: 16px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    background-color:#FEBC66;
    letter-spacing: 1px;
    margin-right: 10px;
    transition: 0.2s;
    margin-bottom: 10px;
    width: 230px;
    font-family: 'Roboto', sans-serif;
}

.estilobutt:hover {
    background-color: #b38137;
}

#colorDIFF {
    background-color: #3e404d;
    width: 140px;

}

#colorDIFF:hover {
    background-color:#494c5c;
}





b {
    color: #d1d4dd;
}



section {
    background-color:  #272934;
    padding-top: 70px;
    padding-bottom: 80px;
    margin-top: 100px;
    font-size: 1.1em;
    padding: 50px;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 0;
    text-align: center;
}

@media(min-width:1000px) {
    section {
        margin-left: 50px;
        text-align: unset;
    }
}

section h5 {
    color:  #e0e4fc;;
}

section h3 {
    text-align: center ;
    margin-left: 0;
    color: #7386f5;
    font-weight: bold;
    font-size: 2.3em;
    margin-bottom: 40px;
}

@media(min-width: 1000px) {
    section h3 {
        text-align: unset;
        margin-left:0;
    }
    
}

section p {
    color: #c9cddb;
    text-align: center left;
    width: unset;
}

@media(min-width:1000px)  {
    section p {
        width: 60%;
    }
}



.PAO {
    float: right;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 340px;
}

@media (min-width:420px){
    .PAO {
        max-width: 300px;
    }
}





#seta {
    padding-top: 40px;
    margin: auto;
    width: 50px;
    animation: anim-stars 1s infinite;
    animation-delay: 0.4s;
}

@media(min-width:420px) {
    #seta {
        padding-top: 100px;
    }
}

.setapause{
  display: none;
}





#login-estilo {
    background-color:  unset;
    border-radius: 0;
    width: 0;
    text-align: unset;
    transition: 0.2s;
}

#login-estilo:hover {
    background-color:  #8b9cfd;
}





#item-nav {
    margin-right: 0;
}

.navbar-brand {
    margin-right: 0;
}





@media(min-width:900px) {
    #login-estilo {
        background-color:  #7386f5;
        border-radius: 7px;
        width: 90px;
        text-align: center;
        cursor: pointer;
    }
    #item-nav {
        margin-right: 7px;
    }
    .navbar-brand {
        margin-right: 500px;
    }
}





article {
    background-color: #1f2029;
    height: 310px;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 90px;
    text-align: center;
    padding: 20px;
}

.container-article h1 {
    font-size: 1.5em;
    padding: 20px;
    margin-top: 10px;
}





#loading {
    text-align: center;
    margin-top: 75vw;
}

@media(min-width: 500px) {
    #loading {
        margin-top: 20vw;
    }
}



ul {
    list-style: none;
    margin: auto;
    color: #8a91a3;
}





aside {
    margin-top: 15vw;
    height: 500px;
    padding: 30px;
    margin-bottom: 150px ;
}

@media(min-width: 1000px) {
    aside {
        margin-bottom: 40px ;
    }
}

.container-aside {
    text-align: center;
    margin-right: 0;
}

.container-aside h1 {
    color: #7386f5;
    font-weight: bold;
}

aside h1  {
    color: #7386f5;
    font-weight: bold;
}

aside p {
    color: #c9cddb;
    font-size: 1.1em;
}




/*Imagens do PAO*/
#pao2 {
    float: unset;
    border: transparent thin solid;
    padding: unset;
    margin: auto;
    max-width: 90%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    pointer-events: none;
}

#pao1 {
    float: unset;
    border: unset;
    padding: unset;
    max-width: 78%;
    pointer-events: none;
    margin: auto;
}

#pao3 {
    float: unset;
    border: unset;
    padding: 0;
    max-width: 78%;
    margin: auto;
    pointer-events: none;
}

@media(min-width: 1000px) {
    #pao1 {
        float: right;
        border: transparent thin solid;
        padding: 5px;
        max-width: 25%;
        margin: unset;
    }
    #pao3 {
        float: right;
        border: transparent thin solid;
        padding: 5px;
        max-width: 25%;
        margin: unset;
        
    }
}

@media(min-width: 1000px) {
    #pao2 {
        max-width: 35%;
        padding: 5px;
        margin: 0px 10px 10px 0;
        margin-left: 13%;
        margin-top: -120px;
        margin-right: 50px;
        float: left;
    }
    .container-aside {
        text-align: right;
        margin-right: 100px;
    }
}





main {
    text-align: center;
    padding: 50px;
   
}

main h1 {
    color: #7386f5;
    font-weight: bold;
    margin-bottom: 30px;
}

main h3 {
    color:#c9cddb;
}

main p {
    color: #c9cddb;
}





#spinner-Espac {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}





#container-aside2 {
       margin-left:0;
       margin-top: -15vw;
       padding: 40px;
       text-align: center;
}

@media(min-width:1000px) {
    #container-aside2 {
        margin-left: 50px;
        text-align: unset;
    }
 }

 #pao-tenis {
    width: 80%;
    pointer-events: none;
 }

 @media(min-width:1000px) {
    #pao-tenis {
        width: 24%;
     }
 }

 figure {
    margin-top: 23vw;
    background-image: url(../img/fundofigurenovo.png);
    padding: 40px;
    height: 340px;
    background-position: bottom;
 }

 #container-figure {
    text-align: center;
    color: #e9ebf3;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
 }

 figure h1 {
    font-weight: bold;
    font-size: 1.5em;
 }
 @media(min-width:1000px) {
    figure h1 {
        font-size: 1.9em;
     }
 }



footer {
    padding: 30px;
    text-align: left;
    height: 300px;
    padding-top: 50px;
    padding-left: 30px;
}


#container-footer {
    margin-left: 0;
}

#conteudo-pos-container {
    float: unset;
    margin-right: unset;
    margin-top: 20px;
    color: white;
}

.div-pos {
    display: unset;
    
}


@media(min-width:1000px) {
    #conteudo-pos-container {
        float: right;
        margin-right: 100px;
        margin-top: -140px;
        color: white;
    }

    .div-pos {
        display: inline-block;
        margin-right: 160px;
    }
    #container-footer {
        margin-left: 20px;
    }

    footer {
        padding-left: 70px;
    }
}


a {
    text-decoration: none;
    color: #8a91a3;
    transition: 0.3s;
}

a:hover {
    color: #5f76f8;
}

#letra-color {
    color:  #95969e;
}

#letra-color:hover {
    color: #d3d4e0;
}